{% extends 'base.html' %} {% load bootstrap3 %} {% block title %}{{ object.title
}} | {% endblock title %} {% block content %}
<div>
  <h1>{{ object.title }}</h1>
  <h3 style="display: inline-block;">
    {{ object.author }}
  </h3>
  <h5 style="display: inline-block;">- {{ object.created }}</h5>
  {% if user.is_authenticated %}
    <form style="display: inline-flex; 	align-self: center;" action="{% url 'favorite' %}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form favoiteForm %}
      {% buttons submit='Add Favorite Doc!' %}{% endbuttons %}
    </form>
    {% endif %}
  <div class="lead">
    <blockquote>{{ object.synopsis }}</blockquote>
    <div>{{ object.content }}</div>
  </div>
</div>
{% endblock %}