{% extends './base3.html' %}
{% load static %}
{% block title %}
    Input | by spark
{% endblock %}

{% block style %}
  <style>
    th, tr, td {
      height: 40px;
      width: 80px;
    }
  </style>
{% endblock %}

{% block content %}
  <table >
    <tr>
      <th>noir</th>
      <th>rouge</th>
      <th>bleu</th>
      <th>vert</th>
    </tr>
    {% for i in table %}
    <tr>
      <td style="background-color: rgb({{i}}, {{i}}, {{i}})"> </td>
      <td style="background-color: rgb({{i}}, 0, 0)"> </td>
      <td style="background-color: rgb(0, 0, {{i}})"> </td>
      <td style="background-color: rgb(0, {{i}}, 0)"> </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
