{% extends './base3.html' %}
{% load static %}
{% block title %}
    Input | by spark
{% endblock %}

{% block style %}
  <style>
    th, td, tr{
      height: 40px,
      width: 80px,
    }
  </style>
{% endblock %}

{% block content %}
  <table>
    <th>noir</th>
    <th>rough</th>
    <th>bleu</th>
    <th>vert</th>
      {% for table_line in table %}
        <tr>
          <td background-color: {{noir}}> </td>
          <td background-color: {{rough}}> </td>
          <td background-color: {{bleu}}> </td>
          <td background-color: {{vert}}> </td>
        </tr>
      {% endfor %}
  </table>
{% endblock %}
